.mat-table {
    margin: 0 auto;
    width: 610px;
    background-color: #fff;
}
.mat-table .mat-header-cell,
.mat-table .mat-footer-cell {
    color: #555;
    text-align: center;
}
.mat-table .mat-cell {
    color: #555;
}
.mat-table .mat-column-quantity,
.mat-table .mat-column-total {
    text-align: center;
    padding: 10px;
}