<mat-toolbar>
  <span>{{ title }}</span>
  <span class="spacer"></span>
  <a routerLink="/dashboard" class="menu-link">
    Dashboard
  </a>
  <div *ngIf="!(isLoggedIn$ | async)">
    <a routerLink="/login" class="menu-link">
      Login
    </a>
    <a routerLink="/register" class="menu-link">
      Register
    </a>
  </div>
  <div *ngIf="isLoggedIn$ | async">
    <a class="menu-link" (click)="logout()">
      Logout
    </a>
  </div>
  <a routerLink="/cart" class="menu-link">
    <mat-icon matBadge="{{(cart$ | async).count}}" matBadgeColor="accent">shopping_cart</mat-icon>
  </a>
</mat-toolbar>

<router-outlet></router-outlet>