.mat-grid-tile .mat-figure {
    align-items: baseline;
}
.product-card {
    max-width: 400px;
}
.product-card .mat-card-header .mat-card-title {
    height: 45px;
    font-size: 19px;
}
.product-card .image {
    text-align: center;
}
.product-card .image img {
    padding-top: 15px;
    height: 120px;
    object-fit: cover;
}
.product-card .mat-card-content {
    height: 40px;
    overflow: hidden;
}
.product-card .quantity {
    width: 30px;
    text-align: center;
}